<!DOCTYPE html>
<html>
  <head>
  <script src="assets/js/openData.js" type="text/javascript">

  </script>
  </head>
  <body>

  	<div class="container">
  		<div class="row">
  			<div id="col-md-12">
  				<h3>DataJam ViveLab Bogotá</h3>
  			</div>
  		</div>
  		<div class="row">
			<div id="side-menu" class="col-sm-5 col-md-5" >
				<div class="jumbotron">
					<div id="menu-cover">
						<div id="basic-info">
							<div id="weather"></div>
						</div>
						<div id="position-info">
							<div id="market-name"></div>
							<div id="website"></div>
							<div id="street-name"></div>
							<div id="open-status"></div>
						</div>
						<div id="chart">
						</div>
						<div id="scores"></div>
					</div>
				</div>
			</div>

		</div>
	</div>
  </body>
</html>
